{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"project": ["./tsconfig.json"]
	},
	"extends": ["plugin:@typescript-eslint/recommended", "plugin:@aws-appsync/recommended"]
}
